
*.class
*.xml
*.iml
*.csv
.DS_Store
*.arff
data/ArrowHead/ArrowHead_TEST
*.txt
data/ArrowHead/ArrowHead_TRAIN
data/Beef/Beef_TEST
data/Beef/Beef_TRAIN
data/CBF/CBF_TEST
data/CBF/CBF_TRAIN
*.m~
